.reveal ul {
    padding-left: 75px;
}
.reveal span {
    font-size: 80%
}
.reveal .slides p {
    text-align: left;
    padding-right: 75px;
    padding-left: 75px;
}
.reveal .slides div div {
    text-align: left;
    font-size: 70%
}
.reveal section img {
  border: 0;
  box-shadow: none;
}